.display-container {
    width: 100%;
    margin-top: 50px;
}

.display-inner-container {
    width: 55%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.shows-img {
    width: 45%;

    img {
        width: 100%;
    }
}

.shows-details {
    width: 50%;
    
    .shows-title {
        font-size: 65px;
        font-weight: 800;
        margin-top: 0;
        position: relative;

        &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -8px;
            width: 75px;
            border-top: 5px solid $bluegray;
            opacity: 0.7;
        }
    }

    .shows-summary {
        font-size: 16px;
        font-weight: 300;
        font-family: $font-secondary;
    }

    .shows-rating {
        font-size: 18px;
        font-weight: 200;

        i {
            color: #FBEC0B;
        }
    }

    .shows-genres {
        display: flex;
        align-items: center;
        list-style: none;

        li {
            padding: 5px;
            margin-right: 5px;
            font-size: 12px;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                right: -3px;
                width: 1px;
                height: 15px;
                background-color: $lightgray;
                opacity: 0.3
            }
        }
        
        li:last-child {
            margin-right: 0;

            &:after {
                width: 0;
            }
        }
    }
}

.flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hidden {
    display: none;
}

.show {
    display: block;
}