@import 'typography';
@import 'color';

body {
    background-color: $white;
}

.container {
    margin: 0;
    padding: 0;
}

.searchbar-container {
    width: 800px;
    margin: auto;

    form {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .searchbar {
        width: 600px;
        height: 80px;
        border: 1px solid $lightgray;
        border-radius: 5px 0px 0px 5px;
        text-indent: 25px;
        font-family: $font-primary;
        font-size: 30px;
        font-weight: 200;
        box-shadow: 10px 4px 20px 0px $lightgray;

        &:focus {
            outline: 0;
        }
    }

    .searchbar::placeholder {
        color: $lightgray;
    }

    .searchbtn {
        height: 82px;
        border: none;
        border-radius: 0px 5px 5px 0px;
        background-color: $pastelred;
        padding: 0 30px;
        font-family: $font-primary;
        font-size: 30px;
        font-weight: 200;
        color: $white;
        cursor: pointer;
        box-shadow: 10px 4px 20px 0px $lightgray;

        &:focus {
            outline: 0;
        }

    }
}