@import 'typography';
@import 'color';

body, .container {
    background-color: $white;
    margin: 0;
    padding: 0;
}

.searchbar-container {
    width: 800px;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .searchbar {
        width: 100%;
        height: 90px;
        border: 2px solid $lightgray;
        border-radius: 5px;
        text-indent: 25px;
        font-family: $font-primary;
        font-size: 30px;
        font-weight: 400;
        color: $softblack;
        box-shadow: 4px 6px 30px 0px $lightgray;
        

        &:focus {
            outline: 0;
        }
    }

    .searchbar::placeholder {
        color: $lightgray;
    }

    .searchbtn {
        height: 60px;
        border: none;
        border-radius: 5px;
        background-color: $pastelred;
        padding: 0 30px;
        font-family: $font-primary;
        font-size: 30px;
        font-weight: 600;
        color: $white;
        cursor: pointer;
        transition: .3s;
        position: absolute;
        right: 20px;

        &:focus {
            outline: 0;
        }

        &:hover {
            background-color: darken($pastelred, 3%);
        }

    }
}

.hidden {
    display: none;
}

.show {
    display: block;
}